@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    width: 100%;
    margin:0 auto;
    font-family: "Roboto", sans-serif;
}

/*Header*/
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1.1em;
    border-bottom: 1px solid black;
    background-color: #ffc017;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: 0.2s;
}
.nav-scroll {
    background-color: #ffffff; 
}
.nav-scroll2 {
    background-color: #1a8197; 
    
}

svg{
    margin-top: 2%
}
nav a{
    text-decoration: none;
    list-style: none;
    color: black;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    margin-left: 2em;
    color: black;
}

#getStarted{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    border-radius: 20px;
}

/* Main */

main #started{
    padding: 0 0 0 15%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #ffc017;
}
#sez{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6%;
}
#sez h2{
    margin-top: 20%;
    font-family: "Spectral", serif;
    font-size: 6rem;
    font-weight: 520;
}

#sez h3{
    font-size: 1.5em;
    margin:40px 0;
}

#sez a{
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;    
    color: white;
    width: 10em;
    display: flex;
    justify-content: center;
}

#svg{
    background-color: #ffc017;
}

/* trending */

#tr{
    padding: 0 15%;
    border-bottom: 2px solid #F2F2F2;
}

#trendtext{
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-weight: 500;
}
#trendtext img{
    margin-right: 1em;
}

#trendtext h4{
    font-size: 0.9em;
}

#trends{
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8em;
}

.trend{
    width: 29%;
    display: flex;
    margin-right: 2em;
}
.num{
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 0.7em;
    color: #F2F2F2;
}
.singletrend{
    margin-bottom: 2em;
}
.autors{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.autors span{
    font-weight: normal;
    margin: 0 3px;
    color:#757575 ;
}


.singletrend h2{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.imgicon{
    margin-right: 6px;
    border-radius: 50%;
    width: 18px;
}

.square{
    margin-right: 6px;
    border-radius: 5px;
    width: 18px;
}

.trendspan{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #a0a0a0;
}
.trendspan span{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

/* articoli */
#ar{
    display: flex;
    padding: 0 15%;
}


#int a{
    color: #a0a0a0;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 8px; 
}

.article{
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#articles{
    margin-bottom: 3em;
    width: 180%;
}

#articles .trendspan{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.imp{
    background-color: #f7f7f7;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    padding: 1px 5px;
}

.bookmark{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.singlearticle{
    width: 100%;
}

.singlearticle h2{
    font-size: 0.9em;
}

.singlearticle h3{
    margin: 14px 0 7px 0;
    font-weight: bold;
    font-size: 1.4em;
}

.singlearticle h4{
    margin-bottom: 10px;
    color: rgb(160, 160, 160);
}
.photos{
    margin-left:3em;
    height: 123px;
    width: 175px;
}
#interest{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    position: sticky;
    top: 40px;
}

#interest h3{
    font-weight: bold;
    margin-top: 4em;
    margin-bottom: 2em;
}

#int {
    line-height: 3em;
    padding-bottom: 2em;
    border-bottom: 1px solid #F2F2F2;
}

#links{
    margin-top: 2em;
}

#links a{
    text-align: center;
    line-height: 1.5em;
    text-decoration: none;
    color: #a0a0a0;
    margin-right: 2em;
}

@media screen and (max-width: 576px) {

    main #started{
        width:100%;
        padding: 0 0 0 7%;
    }

    nav a:nth-of-type(1){
        display: none;
    }
    
    nav a:nth-of-type(2){
        display: none;
    }
    nav a:nth-of-type(3){
        display: none;
    }
    svg{
        display: none;
    }

    #sez h2{
        font-size: 5em;
        margin-top: 27%;
    }

    #sez h3{
        padding-right: 10%;
    }

    #ar{
        flex-direction: column-reverse;
        padding: 0 2%;
    }

    #interest{
        position: static;
        height: 0%;
    }
    
    #trends{
        display: block;
    }
    .trend{
        width: 100vw;
    }

    #tr{
        padding: 0 7%;
    }

    #articles{
        width: 100%;
    }

    .singletrend .autors img{
        border-radius: 50%;
    }
}

@media screen and (min-width: 577px) and (max-width:768px) {

    main #started{
        width:100%;
        padding: 0 0 0 7%;
    }
    
    #getStarted{
        width:105px;
    }
    
    header nav ul{
        font-size: 0.8em;
    }

    header nav ul li{
        margin-left: 1.1em;
    }
    #sez h2{
        padding-right: 10%;
        font-size: 4.5em;
        margin-top: 27%;
    }

    #sez h3{
        padding-right: 10%;
    }

    #ar{
        flex-direction: column-reverse;
        padding: 0 2%;
    }

    #interest{
        position: static;
        height: 0%;
    }
    
    #links a{
        font-size: 0.98em;
        margin-right: 0.6em;
    }

    #links a:last-child{
        margin-right: 0;
    }
   
    .trend{
        width: 41%;
    }

    #tr{
        padding: 0 7%;
    }

    #trends{
        justify-content: space-evenly;
        align-items: center;
    }

    #articles{
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width:992px) {

    main #started{
        width:100%;
        padding: 0 0 0 7%;
    }
    
    #getStarted{
        width:105px;
    }
    
    header nav ul{
        font-size: 0.8em;
    }

    header nav ul li{
        margin-left: 1.1em;
    }
    #sez h2{
        padding-right: 10%;
        font-size: 4.5em;
        margin-top: 27%;
    }

    #sez h3{
        padding-right: 10%;
    }

    #ar{
        flex-direction: column-reverse;
        padding: 0 2%;
    }

    #interest{
        position: static;
        height: 0%;
    }
    
    #links a{
        margin-right: 1.91em;
    }

    #links a:last-child{
        margin-right: 0;
    }
   
    .trend{
        width: 41%;
    }

    #tr{
        padding: 0 7%;
    }

    #trends{
        justify-content: space-evenly;
        align-items: center;
    }

    #articles{
        width: 100%;
    }
}


    
